.LoadBtn {
  border-radius: 12px;
  padding: 16px 48px;
  min-width: 183px;
  height: 60px;
  background-color: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  color: #121417;
  transition: all 250ms linear;
  border: none;
}

.LoadBtn:hover,
.LoadBtn:focus {
  background-color: #fbe9ba;
}
